<li class="work-item marketing photography">
  <a href="portfolio-single-1.html">
    <div class="work-image">
      <%= image_tag "beauty.jpg", :class => "work-image" %>
    </div>
    <div class="work-caption">
      <h3 class="work-title font-alt">Bag MockUp</h3>
      <div class="work-descr font-inc">
        Marketing
      </div>
    </div>
  </a>
</li>
