<section id="home" class="module-hero module-parallax module-fade bg-dark-50" data-background=<%= image_tag "beauty.jpg"%> >
  <div class="hs-caption container">
    <div class="caption-content">
      <div class="hs-title-size-1 font-inc text-uppercase m-b-20">
        Hello & welcome
      </div>
      <div class="hs-title-size-3 font-alt">
        Semantic is <span class="rotate">Amazing | Inspiring | Stylish</span>
      </div>
    </div>
  </div>

</section >
